  @font-face {
    font-family: "Montserrat", sans-serif;
    src: url(C:\Users\atolo\Documents\Fonts\Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Oswald", sans-serif;
    url(C:\Users\atolo\Documents\Fonts\Oswald-Bold.ttf);
    font-weight: bold;
    font-style: normal;
  }
